html {
    font-family: Helvetica;
}

body {
    border-style: solid;
    border-width: 5px;
    padding: 5px;
    border-color: lightcoral;
}

header {
    background:url("d:/Dev/Training/dasmotosImage1.jpg");
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

#brushes h2 {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#frames h2 {
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#paint h2 {
    background-color: skyBlue;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price {
    font-weight: bold;
    color: blue;
}

